VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=flightscore-ca7e0.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=flightscore-ca7e0
VITE_FIREBASE_STORAGE_BUCKET=flightscore-ca7e0.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
VITE_FIREBASE_APP_ID=your-app-id
